---
layout: default
---

{{ content }}

<!-- <h3 class="fw-bold border-bottom pb-3 mb-5">My Cats</h3> -->
{% for cat in site.data.settings.cats %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>{{ cat.name }}</h5>
    <p>{{ cat.title }}</p>
    <p>{{ cat.info }}</p>
    <p><a href="{{ site.github.url }}/cats/{{ cat.url }}">More Photos!</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ cat.image }}" alt="Cat-image" width="50%" >
  </div>
</div>
{% endfor %}
